.header {
  height: 75px;
  width: 100%;
  background-color: #242424;
  font-size: 16px;
}
.header .wrap-v1 {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 75px;
  position: relative;
}
.header .wrap-v1 .active {
  color: red;
}
.header .wrap-v1 .input {
  border-radius: 25px;
  height: 30px;
  margin-left: 50px;
}
.header .wrap-v1 .logo {
  background-image: url('../../assets/img/sprite_01.png');
  background-position: 0 -16px;
  background-repeat: no-repeat;
  width: 160px;
}
.header .wrap-v1 a:last-of-type {
  position: relative;
}
.header .wrap-v1 a:last-of-type::after {
  position: absolute;
  content: '';
  width: 28px;
  height: 19px;
  background-image: url('../../assets/img/sprite_01.png');
  background-position: -190px 0;
  top: 20px;
  right: -15px;
}
.header .wrap-v1 a {
  color: #fff;
  padding: 20px;
  text-decoration: none;
}
.header .wrap-v1 a:hover {
  background-color: #000;
}
